<div id="main_body">
	<div id="rsvp_form">
		<h1>RSVP</h1>
		<%= form_for Rsvp.new, :url => '/rsvps' do |f| -%>
			<%= hidden_field_tag :page_id, @page.id %>
			<div class="field">
				<h3>Name</h3>
		  	<%= f.text_field :name %>
			</div>
			<div class="field">
				<h3>Attending?</h3>			
		  	<div class="field_item"><%= f.radio_button :attending, true %> Will be attending</div>
		  	<div class="field_item"><%= f.radio_button :attending, false %> Will not be attending</div>
			</div>
			<div class="field">
				<h3>And would like transport from</h3>
		  	<div class="field_item"><%= check_box_tag 'rsvp[transport][]', 'To Church' %> from Hartsfield Manor to All Saints Church before the ceremony</div>
		  	<div class="field_item"><%= check_box_tag 'rsvp[transport][]', 'To Reception' %> from All Saints Church to Hartsfield Manor after the ceremony</div>
			</div>
			<div class="field" id="menu_choice_fields">
				<h3>Menu choices</h3>
				<div class="field_group" id="menu_items1">
					<h4>Starter</h4>
		  		<div class="field_item"><%= f.radio_button :starter, 'Chicken & Bacon Salad' %> Chicken & Bacon Salad</div>					
		  		<div class="field_item"><%= f.radio_button :starter, 'Smoked Trout Terine' %> Smoked Trout Terine</div>					
		  		<div class="field_item"><%= f.radio_button :starter, "Grilled Goat's Cheese" %> Grilled Goat's Cheese</div>					
				</div>
				<div class="field_group" id="menu_items2">
					<h4>Main</h4>
		  		<div class="field_item"><%= f.radio_button :main, 'Rump of Lamb' %> Rump of Lamb</div>					
		  		<div class="field_item"><%= f.radio_button :main, 'Pan-Fried Chicken' %> Pan-Fried Chicken</div>					
		  		<div class="field_item"><%= f.radio_button :main, "Asparagus Risotto" %> Asparagus Risotto</div>					
				</div>
				<div class="field_group" id="menu_items3">
					<h4>Dessert</h4>
		  		<div class="field_item"><%= f.radio_button :dessert, 'Apple Tart Tatin' %> Apple Tart Tatin</div>					
		  		<div class="field_item"><%= f.radio_button :dessert, 'Raspberry Creme Brulee' %> Raspberry Creme Brulee</div>					
		  		<div class="field_item"><%= f.radio_button :dessert, "Passion Fruit Tart" %> Passion Fruit Tart</div>
				</div>
			</div>
			<div class="field">
				<h3>Dietary requirements</h3>
		  	<%= f.text_area :dietary_requirements %>
			</div>
			<div class="field">
		  	<%= f.submit :submit, :class => 'btn' %>
			</div>
		<% end -%>
	</div>
</div>