<div id="main_body">
	<div id="rsvp_form">
		<h1>RSVP</h1>
		<%= form_for Rsvp.new, :url => '/rsvps' do |f| -%>
			<div class="field">
				<h3>Name</h3>
		  	<%= f.text_field :name %>
			</div>
			<div class="field">
				<h3>Attending?</h3>			
		  	<div class="field_item"><%= f.radio_button :attending, true %> Will be attending</div>
		  	<div class="field_item"><%= f.radio_button :attending, false %> Will not be attending</div>
			</div>
			<div class="field">
				<h3>And would like transport from</h3>
		  	<div class="field_item"><%= f.check_box :transport_to_church %> from Hartsfield Manor to All Saints Church before the ceremony</div>
		  	<div class="field_item"><%= f.check_box :transport_to_reception %> from All Saints Church to Hartsfield Manor after the ceremony</div>
			</div>
			<div class="field" id="menu_choice_fields">
				<h3>Menu choices</h3>
				<div class="field_group" id="menu_items1">
		  		<div class="field_item"><%= check_box_tag 'rsvp[menu_choices][]', 'chicken_and_bacon_salad' %> Chicken & Bacon Salad</div>
			  	<div class="field_item"><%= check_box_tag 'rsvp[menu_choices][]', 'smoked_trout_terrine' %> Smoked Trout Terine</div>
			  	<div class="field_item"><%= check_box_tag 'rsvp[menu_choices][]', 'grilled_goats_cheese' %> Grilled Goat's Cheese</div>
				</div>
				<div class="field_group" id="menu_items2">
			  	<div class="field_item"><%= check_box_tag 'rsvp[menu_choices][]', 'rump_of_lamb' %> Rump of Lamb</div>
			  	<div class="field_item"><%= check_box_tag 'rsvp[menu_choices][]', 'pan_fried_chicken' %> Pan-Fried Chicken</div>
			  	<div class="field_item"><%= check_box_tag 'rsvp[menu_choices][]', 'asparagus_risotto' %> Asparagus Risotto</div>
				</div>
				<div class="field_group" id="menu_items3">
			  	<div class="field_item"><%= check_box_tag 'rsvp[menu_choices][]', 'apple_tart_tatin' %> Apple Tart Tatin</div>
			  	<div class="field_item"><%= check_box_tag 'rsvp[menu_choices][]', 'raspberry_creme_brulee' %> Raspberry Creme Brulee</div>
			  	<div class="field_item"><%= check_box_tag 'rsvp[menu_choices][]', 'passion_fruit_tart' %> Passion Fruit Tart</div>
				</div>
			</div>
			<div class="field">
				<h3>Dietary requirements</h3>
		  	<%= f.text_area :dietary_requirements %>
			</div>
			<div class="field">
		  	<%= f.submit :submit, :class => 'btn' %>
			</div>
		<% end -%>
	</div>
</div>